<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <title>Home Page</title>
</head>
<style>
    table {
        text-align: center;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand mb-0 h1" href="index.html">Restaurant</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="add.html">เพิ่มข้อมูล</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="edit.html">แก้ไขข้อมูล</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="del.html">ลบข้อมูล</a>
                </li>


            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" id="keyword">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="btnSearch">Search</button>
            </form>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Home Page</h1>
        </div>
    </div>

    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">รหัสเมนู</th>
                    <th scope="col">ชื่อเมนูอาหาร</th>
                    <th scope="col">ประเภทอาหาร</th>
                    <th scope="col">ราคา</th>
                </tr>
            </thead>
            <tbody id="tblData">
                
            </tbody>
        </table>


    </div>

</body>

</html>


<script>
    function loadData() {
        var url = "http://localhost/SWE60-207/restaurant_v2/api/index.php/";
        $.getJSON(url).done(function (data) {
            console.log(JSON.stringify(data));

            var line = "";
            $.each(data, function (k, item) {
                console.log(item);
                line += "<tr><td align='center'>" + item.menu_id + "</td>";
                line += "<td>" + item.menu_name + "</td>";
                line += "<td align='center'>";

                switch (item['menu_type']) {
                    case "1":
                        line += "อาหารคาว";
                        break;
                    case "2":
                        line += "อาหารหวาน";
                        break;
                    case "3":
                        line += "อาหารว่าง";
                        break;
                }
                line += "</td>";
                line += "<td align='center'>" + item.menu_price + "</td>";
                line += "</tr>";
            });

            $("#tblData").empty();
            $("#tblData").append(line);
        });
    }

    function btnSearch_click() {
        var url = "http://localhost/SWE60-207/restaurant_v2/api/index.php/getAllMenu";
        var data = new Object();
        data.keyword = $("#keyword").val().trim();
        $("#keyword").val("");
        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            success: function (feedback) {
                var line = "";
                $.each(feedback, function (k, item) {
                    console.log(item);
                    line += "<tr><td align='center'>" + item.menu_id + "</td>";
                    line += "<td>" + item.menu_name + "</td>";
                    line += "<td align='center'>";

                    switch (item['menu_type']) {
                        case "1":
                            line += "อาหารคาว";
                            break;
                        case "2":
                            line += "อาหารหวาน";
                            break;
                        case "3":
                            line += "อาหารว่าง";
                            break;
                    }
                    line += "</td>";
                    line += "<td align='right'>" + item.menu_price + "</td>";
                    line += "</tr>";
                });

                $("#tblData").empty();
                $("#tblData").append(line);
            },
            data: data
        });
    }

    $(function () {
        loadData();
        $("#btnSearch").click(btnSearch_click);
    });
</script>

</html>